<a href="/message" class="btn btn-primary" id="chat-button"> Chat</a>

<a href="/form" class="btn btn-primary"> + New Post</a>

 
    
                {{#each content}}
<div class="container">
 <div class="card text-center" style="background-color: #e3f2fd;;border:solid">
        <div class="card-body">
            <p class="card-text">
            <h5>{{user_name}}</h5>
            {{!-- {{#if resident}}
            <li>Resident: {{ resident }}</li>
            {{else}}
            <li>Retailer: {{ retailer }}</li>
            {{/if}} --}}
            <li>Zipcode: {{{ zip_code }}}</li>
            {{#if test_seeking}}
            <li>Looking for Tests: {{{ tests_seeking }}}</li>
            {{else}}
            <li>Tests Available: {{{ tests_available }}}</li>
            {{/if}}
            <li>Comments: {{ post_comment }}</li>
            <li>Contact me at: {{ contact_me }}</li>
            </p>
        </div>
    </div>
</div>
        {{/each}}